[Desktop Entry]
Type=Application
Encoding=UTF-8
Version=1.0
Name=vpoxclient
Name[C]=vpoxclient
Comment[C]=VirtualPox User Session Services
Comment=VirtualPox User Session Services
Comment[it]=Servizi di sessione utente di VirtualPox
Comment[pl]=Usługi sesji użytkownika VirtualPox
Exec=/usr/bin/VPoxClient-all
X-GNOME-Autostart-enabled=true
X-KDE-autostart-after=panel
