<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundlePackageType</key>              <string>APPL</string>
    <key>CFBundleSignature</key>                <string>VBVM</string>
    <key>CFBundleDevelopmentRegion</key>        <string>English</string>
    <key>CFBundleIdentifier</key>               <string>org.virtualpox.app.VirtualPoxVM</string>
    <key>CFBundleName</key>                     <string>VirtualPox VM</string>
    <key>CFBundleExecutable</key>               <string>VirtualPoxVM</string>
    <key>CFBundleVersion</key>                  <string>@VPOX_VERSION_MAJOR@.@VPOX_VERSION_MINOR@.@VPOX_VERSION_BUILD@</string>
    <key>CFBundleShortVersionString</key>       <string>@VPOX_VERSION_MAJOR@.@VPOX_VERSION_MINOR@.@VPOX_VERSION_BUILD@</string>
    <key>CFBundleGetInfoString</key>            <string>@VPOX_PRODUCT@ @VPOX_VERSION_STRING@, © 2007-@VPOX_C_YEAR@ @VPOX_VENDOR@</string>
    <key>CFBundleIconFile</key>                 <string>virtualpox</string>
    <key>CFBundleInfoDictionaryVersion</key>    <string>6.0</string>
    <key>LSCanProvideIMVideoDataSource</key>    <true/>
    <key>NSHighResolutionCapable</key>          <true/>
    <key>NSSupportsAutomaticGraphicsSwitching</key><true/>
    <key>NSCameraUsageDescription</key>         <string>VirtualPox needs camera access for emulated webcam passthrough</string>
    <key>NSMicrophoneUsageDescription</key>     <string>VirtualPox needs microphone access for guest audio input</string>
</dict>
</plist>
