<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundlePackageType</key>              <string>APPL</string>
    <key>CFBundleSignature</key>                <string>VMST</string>
    <key>CFBundleDevelopmentRegion</key>        <string>English</string>
    <key>CFBundleIdentifier</key>               <string>org.virtualpox.app.vmstarter</string>
    <key>CFBundleName</key>                     <string>vmstarter</string>
    <key>CFBundleExecutable</key>               <string>vmstarter</string>
    <key>CFBundleVersion</key>                  <string>@VPOX_VERSION_MAJOR@.@VPOX_VERSION_MINOR@.@VPOX_VERSION_BUILD@</string>
    <key>CFBundleShortVersionString</key>       <string>@VPOX_VERSION_MAJOR@.@VPOX_VERSION_MINOR@.@VPOX_VERSION_BUILD@</string>
    <key>CFBundleGetInfoString</key>            <string>@VPOX_PRODUCT@ vmstarter @VPOX_VERSION_STRING@, © 2007-@VPOX_C_YEAR@ @VPOX_VENDOR@</string>
    <key>CFBundleIconFile</key>                 <string>virtualpox</string>
    <key>CFBundleInfoDictionaryVersion</key>    <string>6.0</string>
    <key>LSUIElement</key>                      <true/>
    <key>NSHighResolutionCapable</key>          <true/>
    <key>NSSupportsAutomaticGraphicsSwitching</key><true/>
    <key>CFBundleDocumentTypes</key>
    <array>
     <dict>
      <key>CFBundleTypeName</key>               <string>VirtualPox Machine Definition</string>
      <key>CFBundleTypeExtensions</key>         <array><string>vpox</string></array>
      <key>CFBundleTypeRole</key>               <string>Editor</string>
      <key>LSHandlerRank</key>                  <string>Owner</string>
      <key>CFBundleTypeIconFile</key>           <string>virtualpox-vpox</string>
     </dict>
    </array>
</dict>
</plist>
